# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db


# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
counter-frontend/dist
counter-frontend/tmp
counter-frontend/out-tsc
counter-frontend/bazel-out

# Node
counter-frontend/node_modules
counter-frontend/npm-debug.log
counter-frontend/yarn-error.log

# Miscellaneous
counter-frontend/.angular/cache

# System files
counter-frontend/.DS_Store
counter-frontend/Thumbs.db


# Compiled output
counter-backend/dist
counter-backend/tmp
counter-backend/out-tsc
counter-backend/bazel-out

# Node
counter-backend/node_modules
counter-backend/npm-debug.log
counter-backend/yarn-error.log

# Miscellaneous
counter-backend/.angular/cache

# System files
counter-backend/.DS_Store
counter-backend/Thumbs.db
