.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-button {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 1;
}

.app {
    display: block;
}

.margin>* {
    margin: 30px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 40vh;
    border-radius: 100%;
    background-color: #009bde;
    box-shadow: 0 0 50px #009bde;
    animation: pulsate 5s ease-out infinite;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#huge {
    font-size: 7rem;
}

#abs {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 17px #009bde;
    }

    50% {
        box-shadow: 0 0 50px #009bde;
    }

    100% {
        box-shadow: 0 0 17px #009bde;
    }
}